{
    "env": {
      "browser": true
    },
    "extends": "airbnb",
    "rules": {
        "class-methods-use-this": ["warn", { "exceptMethods": ["onSignOut"] }],
        "indent": [2, 4],
        "max-len": ["warn", 120],
        "react/forbid-prop-types": ["warn", {"forbid": ["any"]}],
        "react/jsx-indent": ["warn", 4],
        "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    }
}
