/* Customized colors */
.color-option-1() {
    color: #0099cc;
}
// color-option-2 is Bootstrap highlight color
.color-option-3() {
    color: #535353;
}

@color-option-4: #fcfcfc; // // Background of Sidebar header
@color-option-5: #f5f5f5; // Background of Sidebar content
@color-option-6: #e5e5e5; // Background of Sidebar content on hover
@border-color: #eee;

/* General layout */
body {
    font-size: 16px;
}


/* The Authentication page */
.auth-page {
    a {
        .color-option-1;
    }
    h1 {
        .color-option-1;
        margin-bottom: 30px;
        text-align: center;
    }
    form {
        margin: 15px 0 15px 0;
    }
    /* Vetically `center` */
    position: absolute;
    top: 40%;
    transform: translate(0%, -50%); // Standard
    -ms-transform: translate(0%, -50%); // IE 9
    -o-transform: translate(0%, -50%); // Opera
    -webkit-transform: translate(0%, -50%); // Safari
}
.forgot-password {
    font-size: 14px;
    margin: -5px 0 15px 0;
}
.route-group a {
    font-size: 16px;
}



/* The Admin page */
.admin-page-wrapper {
    .navbar-brand {
        .color-option-1;
        /* Use the same color on hover and focus */
        &:hover, &:focus {
            .color-option-1;
        }
        font-size: 26px;
    }
}
/* Always right align nav bar icons */
.right-aligned-nav {
  position: absolute;
  right: 10px;
  /* Keep the right-aligned icons in the same line with the brand */
  top: 0px;
  /* All <li>/icons in the same line */
  & > li {
    display: inline-block;
  }
}
.sidebar-wrapper {
    position: fixed; // Positioned relative to browser

    top: 52px;
    bottom: 0;

    z-index: 100; // Stay on top

    width: 250px;

    border-right: 1px solid @border-color;

    background-color: @color-option-5;
    transition: 0.3s;

    overflow: hidden; // Disable scrollin, and let the sidebar nav scroll
}
.sidebar-content {
    min-height: 100%; // Help to create a sticky footer
    // Equal to the height of the two equal-height sticky footers
    // margin-bottom: -90px; // We set the value dynamically in component
}
.sidebar-header {
    background-color: @color-option-4;
    .color-option-3;

    border-bottom: 1px solid #eee;
    padding: 10px 0 10px 30px;

    font-size: 18px;
    font-weight: 500;
}
.sidebar-nav {
    position: absolute;

    // Set a height and enable vertical scrolling. Manually selecting the
    // height to avoid categories overlapping the Edit Categories footer
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;

    li {
        text-indent: 30px;
        line-height: 40px;
        a {
            display: block; // Highlight the whole <li> when a is hovered
            text-decoration: none;

            // TODO: Make sure the selected <li> is always highlighted
            &:hover, &:active, &:focus {
                background: @color-option-6;
            }

            &.disabled-link {
                display: inline-block;; // Highlight the whole <li> when a is hovered
            }
        }

        .category-edit {
            display: inline-block;
            .glyphicon {
                text-indent: 5px;
            }
        }
    }
}
/* The sticky footer */
.sidebar-footer {
    background-color: @color-option-4;
    .color-option-3;
    &:hover, &:active, &:focus {
        background: @color-option-6;
    }
    padding: 13px 0 15px 30px;

    /* Overwrite Bootstrap Button */
    height: 45px;
    width: 100%;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: @border-color;
    text-align: inherit;
    // Remove button outline and shadow
    &:focus, &:active {
      outline: none;
      box-shadow: none;
    }

}
.main-content {
    margin-left: 250px;
    padding: 15px;
}



/* Customized button */
.btn.outline {
	background: none;
	padding: 7px 14px;
}
.btn-default.outline {
	border: 2px solid #0099cc;
	.color-option-1;
}

/*
    Responsive Design - Bootstrap 4 Break Points
    Extra small < 576px
    Small ≥ 576px
    Medium ≥ 768px
    Large ≥ 992px
    Extra large ≥ 1200px
 */
@media (max-width: 575px) {
    .nav-text {
        display: none;
    }

    /* Hide the sidebar */
    .sidebar-wrapper {
        width: 0;
    }

    /* Remove the left margin of the main content */
    .main-content {
        margin-left: 0;
    }

    /* Tweak the narbar-toggle class to get our toggle button */
    .navbar-toggle.sidebar-toggle {
        display: block;
        float: left;
        margin-left: 15px;
        margin-right: 0;
    }
}

@media (min-width: 576px) {
    .navbar-toggle.sidebar-toggle {
        display: none;
    }
}
