/* Customized colors */
@color-option-1: #0099cc; // Instaurant primary color
@color-option-2: #666; // Default Outline Button/Customized Link/Texts
@color-option-3: #111; // Customized Link/Text on hover
@color-option-4: #fcfcfc; // Background of Sidebar header
@color-option-5: #f5f5f5; // Background of Sidebar content
@color-option-6: #e5e5e5; // Background of Sidebar content on hover
@color-option-7: #e9534f; // Danger color
@border-color-1: #eee;
@border-color-2: #ccc;
@border-color-3: #ddd;

/* Font size */
@font-size-regular: 16px;
@font-size-small: 14px;
@font-size-extra-small: 12px;

/* Variables */
@dish-image-size: 138px;
@dish-image-size-small: 105px;

/* Mixins */
.active-focus-hover-button(@color) {
    &:hover, &:focus, &:active,
    &.active.focus, &.active:focus, &.focus,
    &.focus:active, &:active:focus, &:focus {
        background-color: @color;
        border-color: @color;
        color: white;
    }
}
.dish-container-look() {
    border: 1px solid @border-color-3;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 5px;
}


/* General Style */
.non-shadow-outlline {
    // Remove outline and shadow
    &:hover, &:focus, &:active,
    &.active.focus, &.active:focus, &.focus,
    &.focus:active, &:active:focus, &:focus {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
}
.elem-with-tooltip {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* General layout */
body {
    font-size: @font-size-regular;
}
.hidden {
    display: none !important;
}
// Parent element should be position: non-static
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


/* The Authentication page */
.auth-page {
    a {
        color: @color-option-1;
    }
    h1 {
        color: @color-option-1;
        margin-bottom: 30px;
        text-align: center;
    }
    form {
        margin: 15px 0 15px 0;
    }
    /* Vetically `center` */
    position: absolute;
    top: 40%;
    transform: translate(0%, -50%); // Standard
    -ms-transform: translate(0%, -50%); // IE 9
    -o-transform: translate(0%, -50%); // Opera
    -webkit-transform: translate(0%, -50%); // Safari
}
.forgot-password {
    font-size: @font-size-small;
    margin: -5px 0 15px 0;
}
.route-group a {
    font-size: @font-size-regular;
}


/* The Admin page */
.admin-page-wrapper {
    .navbar-brand {
        color: @color-option-1;
        /* Use the same color on hover, focus and active */
        &:hover, &:focus, &:active {
            color: @color-option-1;
        }
        font-size: 26px;
    }
    .navbar-nav > li > a {
        color: @color-option-2;
        &:hover, &:focus, &:active {
            color: @color-option-3;
        }
    }
    /* Always right align nav bar icons */
    .right-aligned-nav {
        position: absolute;
        right: 10px;
        /* Keep the right-aligned icons in the same line with the brand */
        top: 0px;
        /* All <li>/icons in the same line */
        & > li {
            display: inline-block;
        }
    }
}
.sidebar-wrapper {
    position: fixed; // Positioned relative to browser

    top: 51px;
    bottom: 0;

    z-index: 100; // Stay on top

    width: 250px;

    border-right: 1px solid @border-color-1;

    background-color: @color-option-5;
    transition: 0.3s;

    overflow: hidden; // Disable scrollin, and let the sidebar nav scroll
}
.sidebar-content {
    min-height: 100%; // Help to create a sticky footer
    // Equal to the height of the two equal-height sticky footers
    // margin-bottom: -90px; // We set the value dynamically in component
}
.sidebar-header {
    background-color: @color-option-4;
    color: @color-option-2;

    border-bottom: 1px solid #eee;
    padding: 12px 0 12px 30px;

    font-size: 18px;
    font-weight: 500;
}
.sidebar-nav {
    position: absolute;

    // Set a height and enable vertical scrolling. Manually selecting the
    // height to avoid categories overlapping the Edit Categories footer
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;

    li {
        text-indent: 30px;
        line-height: 40px;
        a {
            display: block; // Highlight the whole <li> when a is hovered
            text-decoration: none;
            color: @color-option-2;

            &:hover, &:focus, &:active {
                background: @color-option-6;
                color: @color-option-3;
            }

            &.disabled-link {
                pointer-events: none; // Prevent the <li> being a target of mouse events
                display: inline; // Avoid moving the editing icons to next line
            }

            //  Highlight the configured <li> while editing dishes
            &.hightlight-link {
                background: @color-option-6;
                color: @color-option-3;
            }
        }

        .category-edit {
            display: inline-block;

            // Right align the category editing div
            position: absolute;
            right: 3px;

            a {
                display: inline;
                text-indent: 8px;
                &:hover, &:focus, &:active {
                    background: @color-option-5;
                    color: @color-option-3;
                }
            }
        }
    }
}
/* The sticky footer */
.sidebar-footer {
    background-color: @color-option-4;
    color: @color-option-2;
    &:hover, &:focus, &:active {
        background: @color-option-6;
        color: @color-option-3;
    }
    padding: 13px 0 15px 30px;

    /* Overwrite Bootstrap Button */
    height: 45px;
    width: 100%;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: @border-color-1;
    text-align: inherit;
}

/* The Menu Content */
.menu-content {
    margin: 50px 0 0 250px;
    padding: 10px 20px;
}
.menu-content-title {
    margin: 2px 0 12px 0;
    span {
        color: @color-option-2;
    }
}
.dish-container {
    .dish-container-look;
    /* Layout 1 - Position dish image and dish text */
    display: table;
    // The horizontal layout only depends on the table's width and
    // the width of the columns, not the contents of the cells.
    // In other words, the layout is fixed based on the first row.
    // Set the width of those, and the rest of the table follows.
    table-layout: fixed;
    width: 100%; // The table will occupy the whole column

    /* Layout 2 - Position dish editing link */
    position: relative;
}
.dish-image-container {
    display: table-cell;
    vertical-align: top;

    padding-right: 15px;

    width: calc(@dish-image-size + 15px); // image width + image container right padding
}
.dish-image {
    border: 1px solid @border-color-3;
    height: @dish-image-size;
    width: @dish-image-size;
}
.dish-text-container {
    display: table-cell;
    vertical-align: top;

    // No sure why we should set width to
    // 100% to make it work?!
    width: 100%;

    position: relative;

    padding-bottom: 10px; // Avoid description text overlapping price
}
.dish-name {
    font-size: @font-size-regular;
    margin-top: 0;
    margin-bottom: 5px;
}
.dish-description {
    color: @color-option-2;
    font-size: @font-size-small;
    margin-bottom: 10px;
}
.dish-price {
    color: @color-option-1;

    position: absolute;
    bottom: 0;
    left: 0;
}
.dish-edit {
    position: absolute;
    bottom: 2px;
    right: 5px;

    a {
        color: @color-option-2;
        text-decoration: none;
        // Use text-indent to create space between links
        // Maybe use margin/padding is bettre?
        text-indent: 8px;
        &:hover, &:focus, &:active {
            color: @color-option-3;
        }
    }
}
.add-dish-thumbnail {
    .dish-container-look;
    img {
        height: @dish-image-size;
        width: @dish-image-size;
    }
}


/* Modal */
.modal .form-group:last-of-type {
    margin-bottom: 0px; // No bottom margin if the last form group
}
.image-drop-zone {
    padding: 20px;
    border: 3px dashed @border-color-2;
    height: 315px;
    width: 360px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}
.upload-image-target {
    margin: 0 auto 15px auto;
}
.preview-image {
    max-height: 98%;
    max-width: 98%;
}
.image-over {
    border-color: @color-option-1;
}


/* Customized button */
.btn.outline {
	background: none;
	padding: 7px 14px;
    text-shadow: none;
}
.btn.narrow {
    padding: 5px 14px;
}
.btn-primary.outline {
	border: 2px solid @color-option-1;
	color: @color-option-1;
    .active-focus-hover-button(@color-option-1);
}
.btn-default.outline {
	border: 2px solid @color-option-2;
	color: @color-option-2;
    .active-focus-hover-button(@color-option-2);
}
.btn-danger.outline {
	border: 2px solid @color-option-7;
	color: @color-option-7;
    .active-focus-hover-button(@color-option-7);
}
.btn-right {
    margin-left: 5px;
}


/*
    Responsive Design - Bootstrap 4 Break Points
    Extra small < 576px
    Small ≥ 576px
    Medium ≥ 768px
    Large ≥ 992px
    Extra large ≥ 1200px
 */
@media (max-width: 575px) {
    .elem-with-tooltip {
        white-space: normal;
    }

    /* Hide the sidebar */
    .sidebar-wrapper {
        width: 0;
    }

    /* Remove the left margin of the main content */
    .menu-content {
        margin-left: 0;
    }
    .menu-content-title {
        text-align: center;
    }

    .dish-container {
        margin-bottom: 10px;
    }

    .dish-image-container {
        width: calc(@dish-image-size-small + 15px);
    }
    .dish-image, .add-dish-thumbnail img {
        height: @dish-image-size-small;
        width: @dish-image-size-small;
    }

    .dish-description {
        font-size: @font-size-extra-small;
    }

    /* Tweak the narbar-toggle class to get our toggle button */
    .navbar-toggle.sidebar-toggle {
        display: block;
        float: left;
        margin-left: 15px;
        margin-right: 0;
    }
}

@media (min-width: 576px) {
    .navbar-toggle.sidebar-toggle {
        display: none;
    }
}
