/* General layout */
body {
    font-size: 16px;
}

a {
    .color-option-1;
}


/* The authentication page */
.auth-page {
    h1 {
        .color-option-1;
        margin-bottom: 30px;
        text-align: center;
    }
    form {
        margin: 15px 0 15px 0;
    }
}

.forgot-password {
    font-size: 14px;
    margin: -5px 0 15px 0;
}

.route-group a {
    font-size: 16px;
}


/* Customized button */
.btn.outline {
	background: none;
	padding: 7px 14px;
}
.btn-default.outline {
	border: 2px solid #0099cc;
	.color-option-1;
}

/* Customized colors */
.color-option-1() {
    color: #0099cc;
}
// color-option-1 is Bootstrap highlight color
